*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.botaovoltar{
    margin-top: 25px;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 25%;
    font-size: 30px;
    text-align: center;
    margin-left: 60px;
    background-color: white;
    text-decoration: none;
}

.personalidadetitulo{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 60px;

}

.personalidadetitulo h1{
    font-size: 40px;
}

.personalidadeconteudo{
    width: 100%;
    height: 484px;

}

.personalidadetexto{
    height: 100%;
    width: 70%;
    float: left;

    padding: 40px;
}

.personalidadeimagem{
    height: 100%;
    width: 30%;
    float: left;

}

.imagem1{

    width: 50%;
    height: 50%;
    float: left;
    background-color: green;
    background-image: url("https://citacoes.in/media/authors/bjarne-stroustrup.jpg");
    background-size: cover;
}

.imagem2{

    width: 50%;
    height: 50%;
    background-color: blue;
    display: inline-block;
    background-image: url("https://www.stroustrup.com/Bjarne2018.jpg");
    background-size: cover;
}

.imagem3{

    width: 100%;
    height: 50%;
    background-color: gray;
    margin-top: -4px;
    background-image: url("https://pbs.twimg.com/media/Dvg_e5fWwAAK7vL.jpg");
    background-size: cover;
}

p{
    font-size: 20px;
}